/*reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/*common*/
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center;
}
/*
1. vi tri
2. kich thuoc(width, height)
3.mau sac
4. kieu dang(kieu chu, hinh gi...)
*/

#header {
    
    height: 46px;
    background-color: #000;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}




#nav, .sunav {
    display: inline-block;
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav  li  a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .sunav {
    display: block;
}

#nav .sunav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
    width: 100%;

   
}

#nav .sunav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav .sunav a {
    color: #000;
    padding-left: 12px;
    padding-right: 44px;
    line-height: 38px;
}

#nav .nav-icon-down{
    font-size: 12px;
    padding-left: 2px;

}



#header .mo-menu {
    top: 0;
    right: 0;
    position: absolute;
    display: none;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    padding: 0 20px;
   
}

#header .mo-menu:hover {
    display: inline-block;
    background-color: #ccc;
    color: #000;
   
}


#header .search {
    float: right;
    display: inline-block;

}


#header .search-icon {
    display: block;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    padding: 0 20px;
    
    
}


#header .search-icon:hover  {
    cursor: pointer;
    background-color: #f44336;
    color: #fff;
    width: 100%;
   

}

#slider {
position: relative;
}
.slider-img {
    width: 100%;
    
    margin-top: 46px;
    background: url('/assets/pic/chicago.jpg') top center / cover no-repeat;


}

#slider .text-content {
    color: #fff;
    bottom: 0;
    position: absolute;
    margin-bottom: 32px;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    padding: 12px 32px;
    font-weight: 400;
    font-size: 32px;
}
#slider .text-desc {
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 600;

}

#content {

}

#content .content-section{
    width: 96%;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading,
#content .section-suheading {
    text-align: center;
    margin-bottom: 4px;
    padding: 12px 0px;

}

#content .section-heading {
    font-size: 32px;
    font-weight: 300;
}

#content .section-suheading {
    font-size: 16px;
    font-style: italic;
    opacity: 0.5;
}

#content .about-text {
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
}

#content .mem-list {
    margin-top: 48px;
}


#content .mem-name {
    margin-bottom: 16px;
}

#content .mem-img {
    width: 76%;
    border-radius: 2%;
    
}

/*tour section*/
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 16px 16px;
    color: #757575;
    list-style-type: none;
    position: relative;
}

.tickets-list .sold-out {
    position: absolute;
    bottom: 24%;
    right: 2%;
    padding: 4px 12px;
    background-color: rgb(244, 67, 54);
    color: #fff;
    float: right;
}

.tickets-list .quantity {
    position: absolute;
    bottom: 20%;
    right: 2%;
    padding: 4px 12px;
    background-color: #000;
    color: #fff;
    float: right;
    border-radius: 50%;
}

/*place*/
.place-list {
    margin-top: 32px;
    padding-bottom: 48px;

}

.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-content {
    background-color: #fff;
    padding: 16px;
    font-size: 16px;

}
.place-heading {
    font-size: 16px;
    font-weight: 550;
}
.place-time {
    margin-top: 15px;
    color: #757575;
}
.place-desc {
    margin-top: 15px;
    line-height: 1.5;
}
.place-buy-btn {
    background-color: #000;
    color: #fff;
    padding: 12px;
    margin: 12px 0px;
    text-decoration: none;
    display: block;
    width: 50%;
    border: navajowhite;
    cursor: pointer;
}
.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}
/*end tour section*/

/*contact*/
.contact-content {
    margin-top: 52px;
}

.Contact-infor {
    line-height: 1.5;
    font-size: 18px;
}

.Contact-infor i {
    display: inline-block;
    width: 30px;
}

.form-control {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 12px;
}

.submit-btn {
    cursor: pointer;
    border: none;
    background-color: #000;
    margin-top: 8px;
    float: right;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
}

.submit-btn:hover {
    background-color: #ccc;
    color: #000;
}

/*end conttact*/

/*map*/
.map {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;  
}

.social-list {
    font-size: 24px;

}

.social-list a {
    text-decoration: none;
    color: #000;
    opacity: 0.7;
}

.social-list a:hover {
    opacity: 0.5;
}

.copyright {
    margin: 15px;
    opacity: 0.7;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 80%;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}
.modal-header {
    height: 130px;
    background-color: #03c078;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.modal-close {
    color: #fff;
   right: 0;
    position: absolute;
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
}
.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-main {
    padding: 16px;
}

.modal-nabel {
    display: block;
    font-size: 16px;
}

.modal-input {
    padding-bottom: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 24px;
    margin-top: 6px;
    width: 100%;
    padding-top: 10px;
}

#buy-ticket {
    border: none;
    color: #fff;
    background-color: #03c078;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}
#buy-ticket:hover {
    background-color: rgb(252, 81, 81);
    color: #000;
}

.modal-footer {
    padding: 18px;
    text-align: right
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
pc: >= 1024px
table: >= 740px & < 1024px
moble: < 740px
*/


@media (min-width: 1024px) {
    
}

@media (min-width: 740px) and (max-width: 1023px) {
   
}

@media (max-width: 739px) {

    .s-full {
        width: 100%;
    }

    #header {
        overflow: hidden;
    }

    #nav {
        display: block;
    }

   #nav .sunav {
        position: initial;
        background-color: #333;
        padding-left: 16%;
        
    }

    #nav .sunav a {
        font-size: 20px;
        padding: 4% 0%;
        color: #fff;

    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    
    #header .search-icon {
        display: none;
    }
    #header .mo-menu {
        float: right;
        display: inline-block;
    }

    #content .mem-item {
        margin-top: 30px;
        width: 100%;
    }

}
